### District Summary

In [1]:
#set dependencies
import pandas as pd
from pathlib import Path

In [2]:
#load files
load_school_data = Path(".", "schools_complete.csv")
load_student_data = Path(".", "students_complete.csv")

In [3]:
#read files
school_data = pd.read_csv(load_school_data)
student_data = pd.read_csv(load_student_data)

In [4]:
#combine the data
complete_school_data = pd.merge(student_data, school_data, how="left", on="school_name")
complete_school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#calculate the total number of unique schools
school_count = len(complete_school_data["school_name"].unique())
print(school_count)

15

In [6]:
#calculate the total number of students
student_count = sum(complete_school_data["size"].unique())
#or complete_school_data{"Student ID"]count.()
print(student_count)

39170

In [7]:
#calculate the total budget
total_budget = sum(complete_school_data["budget"].unique())
print(total_budget)

24649428

In [8]:
#calculate the average (mean) math score
average_math_score = complete_school_data["math_score"].mean()
print(average_math_score)

78.98537145774827

In [9]:
#calculate the average (mean) reading score
average_reading_score = complete_school_data["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [10]:
#calculate the percentage of students who passed math (math scores >= 70)
passing_math_count = complete_school_data[(complete_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [11]:
#calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = complete_school_data[(complete_school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [12]:
#calculate the percentage of students that passed math and reading
passing_math_and_reading_count = complete_school_data[(complete_school_data["math_score"] >= 70) & (complete_school_data["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_and_reading_count / float(student_count) * 100
print(overall_passing_rate)

65.17232575950983

In [16]:
#create a summary table to show the metrics in a DataFrame
summary_table = pd.DataFrame(
    {
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
    }
)

#formatting of the values
summary_table["Total Students"] = summary_table["Total Students"].map("{:,}".format)
summary_table["Total Budget"] = summary_table["Total Budget"].map("{:,.2f}".format)

#displaying the table (if you do print() it doesn't display it as nicely)
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

### School Summary

In [18]:
#select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [20]:
#calculate the count of total students per school
per_school_counts = complete_school_data["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [21]:
#calculate the total school budget and per capita spending for each school
per_school_budget = complete_school_data.groupby(["school_name"])["budget"].mean()
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
#calculate the averge test scores per school
per_school_math = complete_school_data.groupby(["school_name"])["math_score"].mean()
per_school_reading = complete_school_data.groupby(["school_name"])["reading_score"].mean()

#use print() here because there are two things you want to display
print(per_school_math)
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [26]:
#calculate the number of students per school with math scores higher than 70%
students_passing_math = complete_school_data[(complete_school_data["math_score"]>= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [27]:
#calculate the number of students per school with reading scores higher than  70%
students_passing_reading = complete_school_data[(complete_school_data["reading_score"]>= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
print(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [30]:
#calculate the number of students passing both math and reading with scores higher than 70%
students_passing_math_and_reading = complete_school_data[(complete_school_data["reading_score"] >= 70) & (complete_school_data["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [31]:
#calculate the percentages of students passing math and also studnets passing reading
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
print(overall_passing_rate)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [37]:
#create a dataframe for all the per_school calculations with columns
per_school_summary = pd.DataFrame(
    {
        "School Types": school_types,
        "Total Students": per_school_counts,
        "School Budget": per_school_budget,
        "Budget Per Student": per_school_capita,
        "Average Math Score": per_school_math,
        "Average Reading Score": per_school_reading,
        "% of Students Passing Math": per_school_passing_math,
        "% of Students Passing Reading": per_school_passing_reading,
        "Overall Passing Rate": overall_passing_rate
    }
)

#formatting for school budget and per student budget
per_school_summary["School Budget"] = per_school_summary["School Budget"].map("${:,.2f}".format)
per_school_summary["Budget Per Student"] = per_school_summary["Budget Per Student"].map("${:,.2f}".format)

per_school_summary.index.name = None

#display the dataframe
per_school_summary

,School Types,Total Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

### Highest-Performing Schools (by % Overall Passing)

In [39]:
#sort the schools by their overall passing rates in descending order and display the first 5 rows
top_schools = per_school_summary.sort_values(["Overall Passing Rate"], ascending=False)
top_schools.head()

,School Types,Total Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

### Bottom Performing Schools (by % Overall Passing)

In [40]:
bottom_schools = per_school_summary.sort_values(["Overall Passing Rate"], ascending=True)
bottom_schools.head()

,School Types,Total Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

### Math Scores by Grade

In [41]:
#separate the data by grade
ninth_grade = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_grade = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_grade = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_grade = complete_school_data[(complete_school_data["grade"] == "12th")]

#group by school name and take the mean of the math score for each 
ninth_grade_math_scores = ninth_grade.groupby(["school_name"])["math_score"].mean()
tenth_grade_math_scores = tenth_grade.groupby(["school_name"])["math_score"].mean()
eleventh_grade_math_scores = eleventh_grade.groupby(["school_name"])["math_score"].mean()
twelfth_grade_math_scores = twelfth_grade.groupby(["school_name"])["math_score"].mean()

#combine the scores above into a dataframe
math_scores_by_grade = pd.DataFrame(
    {
        "Ninth Grade Math Scores": ninth_grade_math_scores,
        "Tenth Grade Math Scores": tenth_grade_math_scores,
        "Eleventh Grade Math Scores": eleventh_grade_math_scores,
        "Twelfth Grade Math Scores": twelfth_grade_math_scores
    }
)

#remove the index name
math_scores_by_grade.index.name = None

#display the dataframe
math_scores_by_grade

,Ninth Grade Math Scores,Tenth Grade Math Scores,Eleventh Grade Math Scores,Twelfth Grade Math Scores
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

### Reading Score By Grade

In [43]:
#separate the data by grade
ninth_grade = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_grade = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_grade = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_grade = complete_school_data[(complete_school_data["grade"] == "12th")]

#group by school name and take the mean of the reading score for each 
ninth_grade_reading_scores = ninth_grade.groupby(["school_name"])["reading_score"].mean()
tenth_grade_reading_scores = tenth_grade.groupby(["school_name"])["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_grade.groupby(["school_name"])["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_grade.groupby(["school_name"])["reading_score"].mean()

#combine the scores above into a dataframe
reading_scores_by_grade = pd.DataFrame(
    {
        "Ninth Grade Reading Scores": ninth_grade_reading_scores,
        "Tenth Grade Reading Scores": tenth_grade_reading_scores,
        "Eleventh Grade Reading Scores": eleventh_grade_reading_scores,
        "Twelfth Grade Reading Scores": twelfth_grade_reading_scores
    }
)

#remove the index name
reading_scores_by_grade.index.name = None

#display the dataframe
reading_scores_by_grade

,Ninth Grade Reading Scores,Tenth Grade Reading Scores,Eleventh Grade Reading Scores,Twelfth Grade Reading Scores
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

### Scores by School Spending

In [48]:
#establish bins and label them
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-$630", "$630-$645", "$645-$680"]

In [49]:
#create a copy of the school summary specifically for spending
school_spending_df = per_school_summary.copy()

In [51]:
#use cut on the per school capita series
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels, right=False)

#convert it to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Types,Total Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,Overall Passing Rate,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-$630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-$645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-$645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-$630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-$680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-$680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-$680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-$630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-$645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-$630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-$645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [52]:
#calculate averages for the desired columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% of Students Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% of Students Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Overall Passing Rate"].mean()

In [53]:
#put this info into a dataframe
spending_summary = pd.DataFrame(
    {
        "Average Math Score": spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending
    }
)

#display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$585-$630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-$645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-$680,76.997210,81.027843,66.164813,81.133951,53.526855
<$585,83.455399,83.933814,93.460096,96.610877,90.369459

### Scores by School Size

In [56]:
#establish bins and label them
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [57]:
#create a copy of the school summary dataframe again
school_size_df = per_school_summary.copy()

In [59]:
#use cut on the per school counts series
school_size_df["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels, right=False)

#convert school size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Types,Total Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,Overall Passing Rate,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [61]:
#calculate averages for the columns
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% of Students Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% of Students Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["Overall Passing Rate"].mean()

In [62]:
#create a dataframe that shows us school performance based on school size
size_summary = pd.DataFrame(
    {
        "Average Math Score": size_math_scores,
        "Average Reading Score": size_reading_scores,
        "% Passing Math": size_passing_math,
        "% Passing Reading": size_passing_reading,
        "% Overall Passing": size_overall_passing
    }
)
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853

### Scores by School Type

In [65]:
#group the per school summary dataframe by "School Type" and average the results
average_math_score_by_type = per_school_summary.groupby(["School Types"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Types"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Types"])["% of Students Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Types"])["% of Students Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Types"])["Overall Passing Rate"].mean()

In [66]:
#create a new dataframe for school types
type_summary = pd.DataFrame(
    {
        "Average Math Score": average_math_score_by_type,
        "Average Reading Score": average_reading_score_by_type,
        "% Passing Math": average_percent_passing_math_by_type,
        "% Passing Reading": average_percent_passing_reading_by_type,
        "% Overall Passing": averag_percent_overall_passing_by_type
    }
)

#display the results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Types,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208